
<div>

	<p-panel header="Title">

		<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
		    <h1 style="font-weight:normal">Left Sidebar</h1>
		    <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
		    <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
		</p-sidebar>

		<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
		    <h1 style="font-weight:normal">Right Sidebar</h1>
		    <button pButton type="button" (click)="visibleSidebar2 = false" label="Save" class="ui-button-success"></button>
		    <button pButton type="button" (click)="visibleSidebar2 = false" label="Cancel" class="ui-button-secondary"></button>
		</p-sidebar>

		<p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
		    <h1 style="font-weight:normal">Top Sidebar</h1>
		    <button pButton type="button" (click)="visibleSidebar3 = false" label="Save" class="ui-button-success"></button>
		    <button pButton type="button" (click)="visibleSidebar3 = false" label="Cancel" class="ui-button-secondary"></button>
		</p-sidebar>

		<p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
		    <h1 style="font-weight:normal">Bottom Sidebar</h1>
		    <button pButton type="button" (click)="visibleSidebar4 = false" label="Save" class="ui-button-success"></button>
		    <button pButton type="button" (click)="visibleSidebar4 = false" label="Cancel" class="ui-button-secondary"></button>
		</p-sidebar>

		<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
		    <h1 style="font-weight:normal">Full Screen Sidebar</h1>
		    <button pButton type="button" (click)="visibleSidebar5 = false" label="Save" class="ui-button-success"></button>
		    <button pButton type="button" (click)="visibleSidebar5 = false" label="Cancel" class="ui-button-secondary"></button>
		</p-sidebar>

		<button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button>
		<button pButton type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></button>
		<button pButton type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down"></button>
		<button pButton type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up"></button>
		<button pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></button>

		<p-accordion>
		    <p-accordionTab header="Tabs" [selected]="true">
				<p-tabView>
				    <p-tabPanel header="Tab I" leftIcon="pi pi-calendar">
				        The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
				    </p-tabPanel>
				    <p-tabPanel header="Tab II" leftIcon="pi pi-inbox">
				        Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
				    </p-tabPanel>
				    <p-tabPanel header="Tab III" leftIcon="pi pi-user" rightIcon="pi pi-star">
				        After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
				    </p-tabPanel>
				</p-tabView>
		    </p-accordionTab>
		    <p-accordionTab header="Charts">
		    		<p-tabView>
				    	<p-tabPanel header="Doughnut" leftIcon="pi pi-calendar">
		    				<p-chart type="doughnut" [data]="data"></p-chart>
		    			</p-tabPanel>
				    	<p-tabPanel header="Line" leftIcon="pi pi-calendar">
		    				<p-chart type="line" [data]="linedata" (onDataSelect)="selectData($event)"></p-chart>
		    			</p-tabPanel>
				    	<p-tabPanel header="Bar" leftIcon="pi pi-calendar">
		    				<p-chart type="bar" [data]="bardata"></p-chart>
		    			</p-tabPanel>		    			
				    	<p-tabPanel header="Pie" leftIcon="pi pi-calendar">
		    				<p-chart type="pie" [data]="piedata"></p-chart>
		    			</p-tabPanel>		
		    		</p-tabView>
		    </p-accordionTab>
		    <p-accordionTab header="Calendar">
		    	<p-calendar [(ngModel)]="value" [inline]="true" ></p-calendar>
		    </p-accordionTab>
		</p-accordion>
	</p-panel>
</div>
